html,
body,
#root,
.App {
    height: 100%;
    width: 100%;
    margin: 0;
}

    .App div.wrapper h1.header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.wrapper{
    margin-top: 168px
}

.header {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #A2A2A2;
    text-align: center;
    white-space: nowrap;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

input {
    max-width: 400px;
    width: 40vw;
    height: 60px;

    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A2A2A2;

    padding-left: 20px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #FF5C00;
}

.btn-signUp {
    width: 240px;
    height: 50px;
    background: #FF3D00;
    box-shadow: 0 0 4px #2C2B3C;
    border-radius: 10px;
    border-right-color: #FF3D00;

    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.p-already-register {
    color: #A2A2A2;
    font-size: 14px;
}

.p-already-register a {
    color: white;
    text-decoration: underline;
}

.error {
    color: red;
    height: 0;
    font-size:14px;
    margin-top: -20px;
    margin-bottom: -5px;
    margin-right: auto;
}