
.logInWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 175px;
    height: 200px;
}

.logo-text {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    color: #A2A2A2;
    margin-top: 0;
}

.error-invalid {
    font-size: 11px;
    color: red;
    margin: -20px;
}